<!-- HEADER -->
<header id="main-header" class="bg-secondary text-white ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-shopping-basket"></i> Purchases</h1>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<section id="search" class="py-1 mb-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Invoice...">
          <div class="input-group-append">
            <button class="btn btn-success">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="purchInv"  class="container">
  <form [formGroup]="purchHdr" #formInv="ngForm" (ngSubmit)="OnSubmit()" >
    <div class="row">
      <!--  -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Purch No</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input name="purNo"
             formControlName="purNo"
             class="form-control"
             [ngClass]="{'is-invalid': purNo.invalid &&  purNo.touched && 'aaa' }"
             >
             <span class="text-danger" *ngIf="purNo.invalid &&  purNo.touched && formInv.submitted">
              Invoice #No required
            </span>
          </div>

        </div>

        <div class="form-group">
          <label>Supplier</label>
          <div class="input-group">

            <input
            type="text"
             class="form-control"
              matInput formControlName="appUserId"
              [matAutocomplete]="customers"
               placeholder="Customer"
               [ngClass]="{'is-invalid': appUserId.invalid &&  appUserId.touched}">

            <mat-autocomplete (optionSelected)="OnHumanSelected($event.option)" #customers="matAutocomplete" [displayWith]="displayFn.bind(this)" >
              <mat-option *ngFor="let option of filteredUsersOptions | async"  [value]="option.id">
                {{option.displayName}} -  {{option.userId}}
              </mat-option>
            </mat-autocomplete>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Payment Method</label>
          <select name="pMethod" class="form-control">
            <option value="">-Select-</option>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
            <option value="Card">Card</option>
          </select>
        </div>

        <div class="form-group">
          <label>Grand Total</label>
          <div class="input-group">
            <div class="input-group-prepend">

              <div class="input-group-text">AED</div>

            </div>
            <input name="gtotal" class="form-control" readonly />

          </div>
        </div>

      </div>

    </div>

    <ng-container formArrayName="purchDtl">

      <!-- Table Header -->
      <table class="table table-bordered table-dark table-hover table-sm">
        <caption>Items</caption>
        <thead class="thead-light">
          <tr>
            <th style="width: 30%">Item</th>
            <th style="width: 10%">Price</th>
            <th style="width: 10%">Quantity</th>
            <th >Total</th>
            <th>
              <a class="btn btn-sm btn-success txt-white" (click)="AddOrEditPurchseItem(purchInv)"><i
                  class="fa fa-plus"></i>Add Item</a>
              <a class="btn btn-sm btn-success txt-white" (click)="addRecord()"><i
                    class="fa fa-plus"></i>Add Record</a>
              <a class="btn btn-sm btn-success txt-white" (click)="OnSave(purchHdr.value)"><i
                    class="fa fa-plus"></i>Save</a>
              </th>

          </tr>
        </thead>
        <!-- Table Body -->
          <tbody *ngFor="let section of getSections(purchHdr); let i = index" >
                <tr [formGroupName]="i">
                  <th>
                    <input  type="text" class="form-control" matInput formControlName="productId" [matAutocomplete]="products"
                      placeholder="Items">

                    <mat-autocomplete (optionSelected)="OnHumanSelected($event.option)" #products="matAutocomplete" [displayWith]="ProductNameFn.bind(this)">
                      <mat-option *ngFor="let option of filteredItemsOptions[i] | async" [value]="option.id">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </th>
                   <th> <input type="number" class="form-control" autocomplete="off" placeholder="Price" formControlName="price"  ></th>
                  <th> <input type="number" class="form-control" placeholder="Quantity"  formControlName="quantity" autocomplete="off" ></th>
                  <th>Total</th>
                </tr>
          </tbody>
      </table>
    </ng-container>
    <button class="btn btn-success float-right">Create Account</button>
    <pre>{{purchHdr.value | json}}</pre>




    <div class="form-group">

    </div>

  </form>

</div>









