<div *ngIf="purchase" class="container">
  <form [formGroup]="form">
    <div class="row">
      <!--  -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Purch No</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input name="purchNo" formControlName="purNo" class="form-control" />

          </div>

        </div>

        <div class="form-group">
          <label>Supplier</label>
          <div class="input-group">

            <input type="text" class="form-control" matInput [formControl]="appUserId" [matAutocomplete]="auto" placeholder="Customer">

            <mat-autocomplete (optionSelected)="OnHumanSelected($event.option)" #auto="matAutocomplete" [displayWith]="displayFn(appUserId, this)">
              <mat-option *ngFor="let option of filteredOptions | async"  [value]="option.id">
                {{option.displayName}} -  {{option.userId}}
              </mat-option>
            </mat-autocomplete>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Payment Method</label>
          <select name="pMethod" class="form-control">
            <option value="">-Select-</option>
            <option value="Cash">Cash</option>
            <option value="Cheque">Cheque</option>
            <option value="Card">Card</option>
          </select>
        </div>

        <div class="form-group">
          <label>Grand Total</label>
          <div class="input-group">
            <div class="input-group-prepend">

              <div class="input-group-text">AED</div>

            </div>
            <input name="gtotal" class="form-control" readonly />

          </div>
        </div>

      </div>

    </div>

    <ng-container formArrayName="InvItems">

      <!-- Table Header -->
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
              <a class="btn btn-sm btn-success txt-white" (click)="AddOrEditPurchseItem(purchase)"><i
                  class="fa fa-plus"></i>Add Item</a>
              <a class="btn btn-sm btn-success txt-white" (click)="addRecord()"><i
                    class="fa fa-plus"></i>Add Record</a>
            </th>

          </tr>
        </thead>
        <!-- Table Body -->
          <tbody *ngFor="let section of getSections(form); let i = index" >
                <tr [formGroupName]="i">
                  <th><input type="text" class="form-control" autocomplete="off" placeholder="Package Name" formControlName="productId"  ></th>
                   <th> <input type="text" class="form-control" autocomplete="off" placeholder="Package Name" formControlName="productId"  ></th>
                  <th> <input type="number" class="form-control" formControlName="quantity" autocomplete="off" ></th>
                  <th>Total</th>
                </tr>
          </tbody>
      </table>
    </ng-container>

    <pre>{{form.value | json}}</pre>




    <div class="form-group">
      <button type="submit"  class="btn-primary btn-dark"><i class="fa fa-database"></i> Submit
      </button>
    </div>
  </form>
</div>









