input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

}
span{
  height: 37px;

}
.table-condensed{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
label{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;

}

