<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Account Login</h4>
          </div>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)= "signIn(f.value)">
              <div class="form-group">
                <label for="textId">User Id</label>
                <input type="keyId" id="textId" name="keyId"class="form-control" ngModel>
              </div>
              <div class="form-group">
                <label for="textpassword">Password</label>
                <input type="password" id="textpassword" name="password" class="form-control" ngModel>
              </div>
              <span *ngIf="invalidLogin" class="ml-0 input-group-append alert alert-danger">Please enter a valid User name and Password</span>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
               <p class="mt-5 mb-3 text-muted text-center">BaB ALSaray © 2021</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

