<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

<!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding [matTreeNodePaddingIndent]="40">

    <mat-checkbox class="checklist-leaf-node"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="todoLeafItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
  </mat-tree-node>

  <!-- <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <mat-label>New item...</mat-label>
      <input matInput #itemValue placeholder="Ex. Lettuce">
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node> -->

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <div matTreeNodeToggle>
      <i *ngIf="!treeControl.isExpanded(node)" class="fa fa-angle-double-right btn btn-primary mb-2  mr-2"></i>
      <i *ngIf="treeControl.isExpanded(node)" class="fa fa-angle-right btn btn-secondary mb-2 mr-2"></i>


    </div>

    <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
      (change)="todoItemSelectionToggle(node)">{{node.name}} </mat-checkbox>
    <button mat-icon-button (click)="addNewItem(node)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
