

   <!-- SEARCH -->

   <div class="container border-bottom border-dark pb-1">
      <section id="search" class="py-1 mb-2 bg-light">

        <header id="main-header" class="bg-warning text-white">
         <div class="container">
          <div class="row">
             <div class="col-md-6">
               <h1>
                 <i class="fa fa-users"></i>Members</h1>
             </div>
           </div>
         </div>
       </header>
      </section>
           <div class="container">
             <div class="row">
               <div class="col-md-3">
                 <!-- <button class="btn btn-warning ml-3" (click)="AddOrUpdateUser()" >Add User</button> -->
                 <button mat-stroked-button class="btn btn-warning ml-3" color="primary" (click)="AddOrUpdateUser()">Add User</button>
               </div>
               <div class="col-md-6 ml-auto">
                 <div class="input-group">
                   <input type="text" class="form-control" placeholder="Search Users...">
                   <div class="input-group-append">
                     <button class="btn btn-warning">Search</button>
                   </div>
                 </div>
               </div>
             </div>

           </div>

    </div>
    <!-- HEADER -->
   <!-- USERS -->
   <section id="users">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Active Users</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>UserId</th>
                  <th>Dispaly Name</th>
                  <th>User Type</th>
                  <th>Contact No</th>
                  <th></th>
                </tr>
              </thead>
              <tbody  *ngFor="let member of memberList">
                <tr>
                  <td>{{member.id}}</td>
                  <td>{{member.keyId}}</td>
                  <td>{{member.name}}</td>
                  <td>{{member.type}}</td>
                  <td>{{member.phoneNumber}}</td>
                  <td>
                    <a [routerLink]="['/members',member.keyId]" [state]="{member: member }" class="btn btn-secondary">
                      <i class="fa fa-angle-double-right"></i> Details
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
