<!-- <input type="text" class="form-control " matInput [formControl]= ngControl.control [matAutocomplete]="textinput"
placeholder="Customer">
<mat-autocomplete  #textinput="matAutocomplete" >
<mat-option >

</mat-option>
</mat-autocomplete> -->

<!-- <input type="text" class="form-control " matInput [formControl]= "ngControl.control" [matAutocomplete]="textinput"
                placeholder="Customer">
              <mat-autocomplete  #textinput="matAutocomplete" >
                <mat-option>

                </mat-option>
              </mat-autocomplete>
 -->
