
.mat-tree-node {

  min-height: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder
}
p {
  font-family:'Times New Roman', Times, serif;

}

::ng-deep .customClass > a {
  background-color:rgb(174, 183, 192) !important;

}
