


      <tr>



        <td>

          <div class="input-group">
            <app-dropown-template  [products]=true [label]="'Item'" [controlName]="productId">
            </app-dropown-template>

          </div>
        </td>


         <td>
          <div class="input-group">
            <app-text-input [formControl]="description" [label]="'description'"> </app-text-input>
          </div>
        </td>


      </tr>

      <!-- <td>
        <app-text-input [formControl]="price" [label]="'Price'"> </app-text-input>
      </td>
      <td>
        <app-text-input [formControl]="quantity" [label]="'quantity'"> </app-text-input>
      </td> -->
      <!-- <td> <input type="number" class="form-control" placeholder="UnitTotal" formControlName="unitTotalPrice"></td>
      <td> <button class="bi bi-folder-minus btn btn-danger mt-1" ng-really-message="Are you sure?" type="button"
          > Remove</button></td> -->
