<header id="main-header" class="bg-warning text-white">
  <div class="container">
   <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-user"></i>New member</h1>
      </div>
    </div>
  </div>
</header>
<hr>
<mat-dialog-content>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="onSubmit(f)">

     <div class="form-group col-md-6">

         <input  ngModel  name="userId"  class="form-control border-primary" placeholder="UserId" >

     </div>

     <div class="form-group col-md-6">
       <input name="password" type="password"  ngModel  placeholder="Password" class="form-control">
     </div>

   <div class="form-group col-md-9" >

     <div class="input-group">

       <input name="displayName"  ngModel  class="form-control" placeholder="Display Name">
     </div>
   </div>
   <div class="form-group">
     <button type="submit" class="btn btn-outline-primary ml-3"><i class="fa fa-paper-plane"></i> Submit</button>
     <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
   </div>
 </form>
</mat-dialog-content>

