<header id="main-header" class="bg-warning text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-user"></i>New member
        </h1>
      </div>
    </div>
  </div>
</header>
<hr>

<form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)" [mustMatch]="['password', 'confirmPassword']">


  <div class="form-row col-md-12">

    <div class="form-group col">
      <input required placeholder="UserId" minlength="12" [maxLength]="12" Pattern="^[0-9]*$"
       [ngClass]="{'is-invalid' : !keyId.valid && keyId.touched}"
       ngModel #keyId="ngModel" name="keyId"
       class="form-control">
      <div class="invalid-feedback">User Phone should be 12 digits</div>
    </div>

    <!-- <input type="text" id="txtNewProjectID" style="width:130px" class="form-control" placeholder="Project ID" name="ProjectID" [(ngModel)]="keyId" required="required" pattern="^[0-9]*$" #newProjectID="ngModel" [ngClass]="{ 'is-invalid': newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || form.submitted), 'is-valid': newProjectID.valid && (newProjectID.dirty || newProjectID.touched || form.submitted) }">

              <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || form.submitted) && newProjectID.errors?.required">Project ID can't be blank</span>

              <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty || newProjectID.touched || form.submitted) && newProjectID.errors?.pattern">Project ID should contain numbers only</span> -->

    <div class="form-group col">
      <select [class.is-invalid] required [(ngModel)]="type" name="type"
        ng-option="type for type in memberType" class="form-control border-primary ml-2" placeholder="type">
          <option [ngValue]="item" *ngFor="let item of memberType, index as i"> {{item}}</option>
      </select>
    </div>
  </div>

  <div class="form-row col-md-12">
    <div class="form-group col">
      <input type="password"  placeholder="Password"
       required
       ngModel name="password" #password="ngModel"
       [ngClass]="{'is-invalid' : !password.valid && password.touched}"
        class="form-control">
        <div class="invalid-feedback" >Password required</div>
    </div>



      <div class="form-group col">
        <input type="password"  placeholder="Confirm Password"
         required
         ngModel name="confirmPassword"  #confirmPassword="ngModel"
          [ngClass]="{'is-invalid' : !confirmPassword.valid && confirmPassword.touched}"
          class="form-control">
         <div *ngIf="confirmPassword.errors?.required" class="invalid-feedback" >Confirm passwords required</div>
         <div *ngIf="confirmPassword.errors?.mustMatch" class="invalid-feedback">Confirm passwords must match</div>
      </div>


    </div>

  <div class="form-group col-md-9">

    <div class="input-group">

      <input  placeholder="Name"
      required
      ngModel name="name" #name ="ngModel"
      [ngClass]="{'is-invalid' : !name.valid && name.touched}"
     class="form-control">
     <div *ngIf="name.errors?.required" class="invalid-feedback" >Name required</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]= "!form.valid" class="btn btn-outline-primary ml-3"><i class="fa fa-paper-plane"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
      Close</button>
  </div>
</form>
<div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
  <div>
  </div>
</div>
