<section id="title">
    <!-- containter - how to add -->
    <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="">Product_id</a> ВНИМАТЕЛЬНЕЕ ошибка below bun or toggler-->
            <a class="navbar-brand" href="">Product_id</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <!--<a class="navbar-brand" href="">Product_id</a>-->
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Download</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Title -->
        <div class="row">
            <div class="col-lg-6">
                <h1>Meet new and interesting dogs nearby.</h1>
                <button type="button" class="btn btn-dark btn-outline-info btn-lg"><i class="fa fa-apple"></i>Download</button>
                <button type="button" class="btn btn-light btn-outline-dark btn-lg"><i class="fa fa-google-plus"></i>Download</button>
            </div>
            
        </div>
    </div>
</section>


<router-outlet></router-outlet>