<form [formGroup]="formGroup">
  <div class="form-container ">
    <h2 class="section-header" mat-dialog-title> New Profile
      <mat-icon tabindex="-1" class="float-right hand-icon" matRipple>close</mat-icon>
    </h2>
    <div mat-dialog-content>
       <mat-form-field class="w-100" color="primary">
        <mat-label>
          Line1
        </mat-label>
        <input type="text" matInput formControlName="line1">
      </mat-form-field>
      <mat-form-field class="w-100" color="primary">
        <mat-label>
          Line2
        </mat-label>
        <input type="text" matInput formControlName="line2">
      </mat-form-field>
      <mat-form-field class="w-100" color="primary">
        <mat-label>
          Region
        </mat-label>
        <input type="text" matInput formControlName="region">
      </mat-form-field>
      <mat-form-field class="w-100" color="primary">
        <mat-label>
          City
        </mat-label>
        <input type="text" matInput formControlName="city">
      </mat-form-field>
      <mat-form-field class="w-100" color="primary">
        <mat-label>
          Country
        </mat-label>
        <mat-hint align="end">Choose check-in date</mat-hint>
        <input type="text" matInput formControlName="country">
      </mat-form-field>
        <div mat-dialog-actions class="mt mb" fxLayoutAlign="end center" >
        <button mat-stroked-button color="warn" class="mr">Cancel</button>
        <button mat-flat-button color="primary">Save</button>
      </div>
    </div>
  </div>

</form>
