
<!-- <div id="accordion" class="bg-black">
  <div class="card bg-dark">
    <div class="btn btn-primary" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div> -->



    <div class="container sidebar ">
      <div class="user-panel">
        <ul *ngIf="!(authService.currentUser$| async)" >
           <li class="nav-item dropdown mr-3">
            <a routerLink='/login' class="nav-link" >
              <i class="fa fa-user"></i> <strong> Login </strong>
            </a>
           </li>
        </ul>
        <ul *ngIf="(authService.currentUser$| async) as user " class="navbar-nav ml-auto">
          <li class="nav-item dropdown mr-3">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i> <strong> Welcome {{user.given_name}} </strong>
            </a>
            <div class="text-light bg-info dropdown-menu">
              <a routerLink='' class="dropdown-item">
                <i class="fa fa-user-circle"></i> Profile
              </a>
              <a routerLink='' class="dropdown-item">
                <i class="fa fa-cog"></i> Settings
              </a>
              <div class="divider dropdown-divider"></div>
              <a routerLink='' class="dropdown-item d-flex align-items-center py-2" (click)="logOut()">
                <i class="fa fa-sign-out mr-3"></i> Logout
              </a>
            </div>

          </li>
        </ul>

            <img src="assets/albablogo.jpg" class="img-fluid"  alt="User Image"   width="200px" >



          <!-- <div class="pull-left info">
            <p>Bab ALSaray</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div> -->
      </div>
      <ul class="list-sidebar bg-defoult">
        <li> <a href="#" data-toggle="collapse" data-target="#store" class="collapsed active border-0" >
          <i class="fa fa-th-large"></i>
          <span class="nav-label"> Store </span>
          <span class="fa fa-chevron-left pull-right"></span>
           </a>
        <ul class="sub-menu collapse" id="store">
          <li class="active"><a routerLink='/product' class="nav-link" routerLinkActive='active current'>Products list</a></li>
          <li class="active"><a routerLink='/purchases' class="nav-link" routerLinkActive='active current'>Purchase</a></li>
          <li class="active"><a routerLink='/quotation' class="nav-link" routerLinkActive='active current'>Quotation</a></li>
        </ul>
      </li>
      <li> <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> </li>
      <li> <a href="#" data-toggle="collapse" data-target="#accounts" class="collapsed active" >
        <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Accounts</span>
         <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="accounts">
        <li class="active"><a routerLink='/members' class="nav-link" routerLinkActive='active current' >Members</a></li>
        <li class="active"><a routerLink='/dashboard' class="nav-link" routerLinkActive='active current' >Home</a></li>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Tabs & Accordions</a></li>
        <li><a href="#">Typography</a></li>
        <li><a href="#">FontAwesome</a></li>
        <li><a href="#">Slider</a></li>
        <li><a href="#">Panels</a></li>
        <li><a href="#">Widgets</a></li>
        <li><a href="#">Bootstrap Model</a></li>
      </ul>
    </li>
    <li> <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a> </li>
    <li> <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active" ><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa fa-chevron-left pull-right"></span></a>
    <ul  class="sub-menu collapse" id="tables" >
      <li><a href=""> Static Tables</a></li>
      <li><a href=""> Data Tables</a></li>
      <li><a href=""> Foo Tables</a></li>
      <li><a href=""> jqGrid</a></li>
    </ul>
  </li>
  <li> <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed active" ><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa fa-chevron-left pull-right"></span></a>
  <ul  class="sub-menu collapse" id="e-commerce" >
    <li><a href=""> Products grid</a></li>
    <li><a href=""> Products list</a></li>
    <li><a href="">Product edit</a></li>
    <li><a href=""> Product detail</a></li>
  </ul>
  </li>
  <li> <a href=""><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span> </a></li>

  </ul>
  </div>


<!-- <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <a href="" class="navbar-brand">Bab AL Saray</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul *ngIf="(authService.currentUser$| async)" class="navbar-nav mr-auto">
        <ng-container>
          <li class="nav-item px-2">
            <a routerLink='/dashboard' class="nav-link" routerLinkActive='active current'>Dashboard</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/product' class="nav-link" routerLinkActive='active current'>Products</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/purchases' class="nav-link" routerLinkActive='active current'>Purchases</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/members' class="nav-link" routerLinkActive='active current'>Users</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/journalentry' class="nav-link" routerLinkActive='active current'>Receipt</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/dbAccount' class="nav-link" routerLinkActive='active current'>Accounts</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/reports' class="nav-link" routerLinkActive='active current'>Reports</a>
          </li>
        </ng-container>
      </ul>
      <ul *ngIf="!(authService.currentUser$| async)" class="navbar-nav ml-auto">
        <li  class="nav-item dropdown mr-5">
          <a routerLink='/login' class="nav-link" routerLinkActive='active current'>Login</a>
        </li>
      </ul>


      <ul *ngIf="(authService.currentUser$| async) as user " class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> <strong> Welcome {{user.given_name}} </strong>
          </a>
          <div class="dropdown-menu">
            <a routerLink='' class="dropdown-item">
              <i class="fa fa-user-circle"></i> Profile
            </a>
            <a routerLink='' class="dropdown-item">
              <i class="fa fa-cog"></i> Settings
            </a>
            <div class="divider dropdown-divider"></div>
            <a routerLink='' class="dropdown-item d-flex align-items-center py-2" (click)="logOut()">
              <i class="fa fa-sign-out mr-3"></i> Logout
            </a>
          </div>

        </li>
      </ul>
    </div>
  </nav>
  </div> -->

    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <div class="container-fluid">
            <a href="#" class="navbar-brand mr-3">Tutorial Republic</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Services</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Register</a>
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>Learn to Create Websites</h1>
            <p class="lead">In today's world internet is the most popular way of connecting with the people. At <a href="https://www.tutorialrepublic.com" target="_blank">tutorialrepublic.com</a> you will learn the essential web development technologies along with real life practice examples, so that you can create your own website to connect with the people around the world.</p>
            <p><a href="https://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>HTML</h2>
                <p>HTML is the standard markup language for describing the structure of the web pages. Our HTML tutorials will help you to understand the basics of latest HTML5 language, so that you can create your own website.</p>
                <p><a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>CSS</h2>
                <p>CSS is used for describing the presentation of web pages. CSS can save a lot of time and effort. Our CSS tutorials will help you to learn the essentials of latest CSS3, so that you can control the style and layout of your website.</p>
                <p><a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>JavaScript</h2>
                <p>JavaScript is the most popular and widely used client-side scripting language. Our JavaScript tutorials will provide in-depth knowledge of the JavaScript including ES6 features, so that you can create interactive websites.</p>
                <p><a href="https://www.tutorialrepublic.com/javascript-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>Bootstrap</h2>
                <p>Bootstrap is a powerful front-end framework for faster and easier web development. Our Bootstrap tutorials will help you to learn all the features of latest Bootstrap 4 framework so that you can easily create responsive websites.</p>
                <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>PHP</h2>
                <p>PHP is the most popular server-side scripting language for creating dynamic web pages. Our PHP tutorials will help you to learn all the features of latest PHP7 scripting language so that you can easily create dynamic websites.</p>
                <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>SQL</h2>
                <p>SQL is a standard language designed for managing data in relational database management system. Our SQL tutorials will help you to learn the fundamentals of the SQL language so that you can efficiently manage your databases.</p>
                <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>References</h2>
                <p>Our references section outlines all the standard HTML5 tags and CSS3 properties along with other useful references such as color names and values, character entities, web safe fonts, language codes, HTTP messages, and more.</p>
                <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <h2>FAQ</h2>
                <p>Our Frequently Asked Questions (FAQ) section is an extensive collection of FAQs that provides quick and working solution of common questions and queries related to web design and development with live demo.</p>
                <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © 2019 Tutorial Republic</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <a href="#" class="text-dark">Terms of Use</a>
                    <span class="text-muted mx-2">|</span>
                    <a href="#" class="text-dark">Privacy Policy</a>
                </div>
            </div>
        </footer>
    </div> -->
