<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="" class="navbar-brand">Bab AL Saray</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a routerLink='/' class="nav-link" routerLinkActive='Active'>Dashboard</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/product' class="nav-link" routerLinkActive='Active'>Products</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/purchases' class="nav-link" routerLinkActive='Active'>Purchases</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/members' class="nav-link" routerLinkActive='Active'>Users</a>
          </li>
          <li *ngIf="!(currentUser$ | async)" class="nav-item px-2">
            <a routerLink='/login' class="nav-link" routerLinkActive='Active'>Login</a>
          </li>
          <li class="nav-item px-2">
            <a routerLink='/errors' class="nav-link" routerLinkActive='Active'>Errors</a>
          </li>



        </ul>


          <ul *ngIf="currentUser$ | async" class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a routerLink='' class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> Welcome <!-- {{authService.setCurrentUser}} -->
              </a>
              <div class="dropdown-menu">
                <a  class="dropdown-item">
                  <i class="fa fa-user-circle"></i> Profile
                </a>
                <a  class="dropdown-item">
                  <i class="fa fa-cog"></i> Settings
                </a>
              </div>
            </li>
            <li  class="nav-item">
              <a routerLink='' (click)="logOut()" class="nav-link">
                <i  class="fa fa-user-times"></i> Logout
              </a>
            </li>
          </ul>

      </div>
    </div>
  </nav>




