<!-- HEADER -->
<header id="main-header" class="bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-credit-card-alt"></i> Journal</h1>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<section id="search" class="py-1 mb-2 ">
  <div class="container">
    <div class="row">
      <button class="bi bi-folder2-open btn btn-success ml-2 float-right" type="button" > New</button>
      <button class="fa fa-remove btn btn-danger ml-2 float-left" type="button" > Delete</button>
      <div class="col-md-6 ml-auto">
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="Search Invoice..." [matAutocomplete]="auto"
                 name="joke"  >
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="">

            </mat-option>
          </mat-autocomplete>
          <div class="input-group-append">
            <button class="fa fa-search ml-1 btn btn-success" > Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <form [formGroup]="frmJournal" (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class=" col-sm-6">
        <div class="card bg-light">
          <div class="card-body">
            <h2  class="card-header bg-center">Journal Details</h2>
             <div class="row">
              <!--  -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="font-weight-bold">No</label>
                  <div class="input-group">
                    <input formControlName="jeNo" type="text" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="font-weight-bold">Date</label>
                <input formControlName="entryDate" type="date" name="purNo" class="form-control" />

              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Note</label>
                <div class="input-group">
                  <input formControlName="note" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div  [formGroup]="frmSingleAccount" class="card bg-light">
          <div class="card-body">
            <h2  class="card-header bg-center">Credit</h2>
          <div class="row">
            <!--  -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold">Account</label>
                <div class="input-group">
                  <input formControlName="account" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold">Date</label>
              <input type="date" formControlName="dueDate" class="form-control" />

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Note</label>
              <div class="input-group">
                <input formControlName="note" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
    <header id="main-header" class="nav-bordera mt-1">
      <div class="container">
        <div class="row pb-2 pt-1">
          <div class="col-md-12">
            <button class="fa fa-plus-circle btn btn-success float-left" type="button"  (click)="addRecord()" > Add </button>
                    <button class="fa fa-save btn btn-success ml-2 float-left"  type="submit"> Save</button>
                    <button class=" fa fa-search-minus btn btn-secondary float-right" type="button" > Search</button>


          </div>
        </div>
      </div>
    </header>
    <div class="row">

        <!-- <div class="bg-info py-1 col-12 form-inline">
         Debit Accounts
         <div class="input-group ml-auto">
          <div class="input-group-prepend">
            <div class="input-group-text">AED</div>
          </div>
          <input name="gtotal" [formControl] = ''class="form-control " readonly>
        </div>
        </div> -->


      <ng-container formArrayName="journalAccounts">


        <!-- Table Header -->
        <table  class="table table-bordered table-active table-hover table-sm table-condensed mt-1">

          <thead >
            <tr class="border" >
              <th style="width: 30%">Account</th>
              <th style="width: 10%">Note</th>
              <th style="width: 10%">Debit</th>
              <th style="width: 10%">Date</th>
            </tr>
          </thead>

          <!-- Table Body -->
          <tbody>
            <tr [formGroupName]="0">
              <td>
                <input formControlName="account" class="form-control" />
              </td>
              <td>
                <input formControlName="note" class="form-control" />
              </td>
              <td>
                <input formControlName="debit" class="form-control" />
              </td>
              <td>
                <input formControlName="dueDate" class="form-control" />
              </td>

            </tr>

          </tbody>
        </table>
      </ng-container>
    </div>
    <pre>{{frmJournal.value | json}}</pre>
    <pre>{{frmSingleAccount.value | json}}</pre>
  </form>
</div>
