<!-- HEADER -->
<header id="main-header" class="bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-credit-card-alt"></i> Journal</h1>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<section id="search" class="py-1 mb-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <div class="input-group-append">
            <button (click)="addItem(frmJournal.value)" class="fa fa-search ml-1 btn btn-success">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <form [formGroup]="frmJournal" (keydown.enter)="$event.preventDefault()">
    <div class="row">

        <div class="card col-6">
          <div class="card-header bg-primary font-weight-bold mt-1"> Journal Details </div>
          <div class="row">
            <!--  -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold">No</label>
                <div class="input-group">
                  <input formControlName="journalNo" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold">Date</label>
              <input formControlName="entryDate" type="date" name="purNo" class="form-control" />

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Note</label>
              <div class="input-group">
                <input formControlName="note" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div  formGroupName ="singleAccount" class="card col-6">
          <div class="card-header bg-primary font-weight-bold mt-1"> Credit </div>
          <div class="row">
            <!--  -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold">Account</label>
                <div class="input-group">
                  <input formControlName="account" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold">Date</label>
              <input type="date" formControlName="dueDate" class="form-control" />

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Note</label>
              <div class="input-group">
                <input formControlName="note" class="form-control" />
              </div>
            </div>
          </div>
        </div>


    </div>

    <div class="row">




        <div class="bg-info py-1 col-12 form-inline">
         Debit Accounts
         <div class="input-group ml-auto">
          <div class="input-group-prepend">
            <div class="input-group-text">AED</div>
          </div>
          <input name="gtotal" [formControl] = ''class="form-control " readonly>
        </div>
        </div>


      <ng-container formArrayName="journalAccounts">
        <!-- Table Header -->
        <table class="table table-bordered table-dark table-hover table-sm table-condensed">
          <thead class="thead-light">
            <tr>
              <th style="width: 30%">Account</th>
              <th style="width: 10%">Note</th>
              <th style="width: 10%">Debit</th>
              <th style="width: 10%">Date</th>
            </tr>
          </thead>
          <!-- Table Body -->
          <tbody>
            <tr [formGroupName]="0">
              <td>
                <input formControlName="account" class="form-control" />
              </td>
              <td>
                <input formControlName="note" class="form-control" />
              </td>
              <td>
                <input formControlName="debit" class="form-control" />
              </td>
              <td>
                <input formControlName="dueDate" class="form-control" />
              </td>

            </tr>

          </tbody>
        </table>
      </ng-container>
    </div>
    <pre>{{frmJournal.value | json}}</pre>
  </form>
</div>
