<!-- HEADER -->
<header id="main-header" class="bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-credit-card-alt"></i> Journal</h1>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<section id="search" class="py-1 mb-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <div class="input-group-append">
            <button class="fa fa-search ml-1 btn btn-success">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <form [formGroup]="" (keydown.enter)="$event.preventDefault()">
    <div class="row">

        <div class="card col-6">
          <div class="card-header bg-primary font-weight-bold mt-1"> Journal Details </div>
          <div class="row">
            <!--  -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold">No</label>
                <div class="input-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold">Date</label>
              <input type="date" name="purNo" class="form-control" />

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Note</label>
              <div class="input-group">
                <input class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="card col-6">
          <div class="card-header bg-primary font-weight-bold mt-1"> Credit </div>
          <div class="row">
            <!--  -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="font-weight-bold">Account</label>
                <div class="input-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="font-weight-bold">Date</label>
              <input type="date" name="purNo" class="form-control" />

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Note</label>
              <div class="input-group">
                <input class="form-control" />
              </div>
            </div>
          </div>
        </div>


    </div>

    <div class="row">

      <div class="bg-info py-2 col-12">
        Debit Account
      </div>
      <ng-container>
        <!-- Table Header -->
        <table class="table table-bordered table-dark table-hover table-sm table-condensed">
          <thead class="thead-light">
            <tr>
              <th style="width: 30%">Account</th>
              <th style="width: 10%">Debit</th>
              <th style="width: 10%">Date</th>
            </tr>
          </thead>
          <!-- Table Body -->
          <tbody></tbody>
        </table>
      </ng-container>
    </div>
    <!-- <pre>{{purchHdr.value | json}}</pre> -->
  </form>
</div>
