<h4 class="display-4">Items</h4>
<hr>
<form [formGroup]="form" autocomplete="off">

  <div class="form-group">
    <label for=""> Items</label>
    <select
      formControlName="item"
      name="item"
      class="form-control">
      <option >-Select-</option>
      <option ></option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">AED</div>
        </div>
        <input name="price" type="number" number-converter
          class="form-control"  />
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Quantity</label>
      <input
        type="number"
        number-converter
        formControlName="quantity"
        name="quantity"
        class="form-control" [class.alert.danger]
       />
        <div class="alert alert-danger" *ngIf="quantityProp.touched && quantityProp.invalid"> Quantity required</div>
    </div>
  </div>


  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">AED</div>
      </div>
      <input name="total"  class="form-control" readonly=true />
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn-primary btn-dark"><i class="fa fa-database"></i> Submit </button>
    <button type="button" class="btn-primary btn-outline-dark ml-1"><i class="fa fa-close"></i> Close
    </button>
  </div>
</form>

